.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 15px;
}

.titleContain * {
    float: left;
}

.titleContain img {
    width: 50px;
}

.search-input {
    margin: 0 auto;
}

.searchContain {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.product {
    display: flex;
    padding: 20px 10px 0px 40px;
    align-items: center;
}

.productImage {
    padding-right: 20px;
}

.productHead {
    display: flex;
    justify-content: space-between;
}

.product h2 {
  margin: 0;
}

.product p {
  margin: 0;
}

p.details {
    margin-top: 9px;
}
